<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %>, welcome to PetProject.com.</h1>
    <p>
      You have successfully signed up to Pet Project
    </p>
    <!-- <p>
      To login to the site, just follow this link: <%# @url %>.
    </p> -->
    <p>Thanks for joining and we look forward to helping you find the perfect sitter for your precious dog.!</p>
  </body>
</html>