

</br>
<div style="padding: 0px 0px 0px 350px;font-size:2em">
    <% if current_user %>
    <%= link_to "My Profile", users_path%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to "Find all Sitters", sitters_path%><br />
    <% end %>
</div><br><br>
<%= render 'layouts/wow' %>


